

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    background-color: #E4E9FD;
    background: -webkit-linear-gradient( 34deg, #025955 58%,#00917c 58.9%);
    min-height: 100vh;
    font-family: 'helvetica neue';
    transition: 0.5s;   
}
/* Header */
#header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    background-color: #00000029;
}
 .nav-link{
        display: flex;     
        width: 38%;
        justify-content: space-around;
        
 }
.nav-link a{
    color: silver;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}
.nav-link li{
    list-style: none;
    width:45%;
    min-height: 8vh;
    text-align: center;
    overflow: hidden;
}
.nav-link li:hover{
    color: #0000;
    text-decoration: #000;
    z-index: 1;
    
    animation: fill 1s forwards;
}
/* fill */
nav.fill ul li a {
    transition: all 2s;
    position: relative;
    top: 1rem;
  }
  #third{
    top:0.5rem;
}
  
  nav.fill ul li a:hover {
    color: #000;
    z-index: 1;
    
  }
 
  @keyframes fill {
    0% {
      /* width: 40%; */
      /* height: 1px; */
    }
    100% {
      
      background: rgb(134, 167, 146);
    }
  }
   /* Heading content */
   #main-container{
       display: flex;
       align-items: center;
       justify-content: space-around;


   }
   #heading-cont{
       font-size:4.58rem ;
       color: whitesmoke;
       font-family: 'IM Fell DW Pica', serif;
       position: relative;
       top: 9rem;
       text-align: center;
       
   }
   #scholar{
       font-size: 1.34rem;
       font-family:'Lato', serif;
   }
   #download-btn {
    font-family: Hack, monospace;
    background: #36756c;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    top: 8rem;
    position: relative;
    min-width: 250px;
}
#download-btn::after {
    content: "\f358";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    left: 85%;
    top: 31%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}
#download-btn:hover {
    background: #025955;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #00ff61;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    color: #fff;
}
#download-btn:hover::after {
    opacity: 1;
    margin-right: 0.5rem;
    transition: all 0.5s;
    color: #fff;
}

/* modal */
#modal{
    height: 15rem;
    width:50%;

}
/* responsive */
@media only screen and (max-width: 800px) {
    #header{justify-content: center;}
    .nav-link{width: 100%;}
    #main-container{flex-direction: column;}
    #download-btn{margin-top: 3rem;}
}
@media only screen and (max-width: 500px){
    .nav-link li a{font-size: 15px;}
}
   
